# محیط‌های مجازی
venv/
.env/

# فایل‌های کامپایل‌شده پایتون
__pycache__/
*.pyc
*.pyo

# تنظیمات IDE
.vscode/
.idea/

# پایگاه‌داده
*.sqlite3
*.db

# لاگ‌ها
*.log

# فایل‌ها و پوشه‌های سیستم‌عامل
.DS_Store
Thumbs.db

# مدل‌ها و فایل‌های بزرگ
models/
*.pt
*.ckpt
*.pth
*.bin
*.gguf

# فایل‌های رسانه‌ای و اسناد
*.mp3
*.wav
*.ogg
*.pdf
*.html

# پوشه‌های خام داده
data/
data_sources/
downloads/

# فایل‌های ایندکس FAISS
retriever/
*.faiss
*.index
*.hnsw
