# پوشه‌های مربوط به محیط‌های مجازی
venv/
.env/

# فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های مربوط به تنظیمات IDE‌ها
.vscode/
.idea/

# فایل‌های پایگاه‌داده
*.sqlite3
*.db

# فایل‌های لاگ
*.log

# پوشه‌ها یا فایل‌های مخصوص سیستم‌عامل
.DS_Store
Thumbs.db

# مدل‌ها یا فایل‌های داده‌ای بزرگ (در صورتی که در پروژه مدل‌ها دارید)
models/
*.gguf



venv/
*.pyc
__pycache__/
*.mp3
*.pdf
*.bin
*.ckpt
*.pth
*.pt

# فایل‌های خام
*.pdf
*.mp3
*.wav
*.ogg
*.ckpt
*.pt
*.bin
*.html

# پوشه‌های خام داده
data_sources/
downloads/

# ایندکس‌های سنگین FAISS
*.bin
retriever/